include pug/mixin
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="css/normalize.css")
        link(rel="stylesheet", href="css/style.css")
        title Document
    body
        // left menu
        header.header
            .message.message--active
            .nav__list
                .nav__button.nav__button--active
                .nav__button 
                .nav__button
        main.container
            section.