include pug/mixin
include pug/icons
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="css/normalize.css")
        link(rel="stylesheet", href="css/style.css")
        title Document
    body
        .container
            .menu
                .message
                    .message__button
                        | !{icons['message']}
                    .message__info
                        ul
                            li.message__item.error
                                span Р426F2
                                p Произошел сбой на точке «Кинотеатр Нева»
                            li.message__item.foto
                                span Новое предложение
                                p Ул. Нового Рокосовского 54
                                img(src="img/foto.png", alt="")
                                time Сегодня в 17:36
                            li.message__item.foto
                                span Новое предложение
                                p Ул. Нового Рокосовского 54
                                img(src="img/foto.png", alt="")
                                time Сегодня в 17:36
                            li.message__item.error
                                span Р426F2
                                p Произошел сбой на точке «Кинотеатр Нева»
                            li.message__item.error
                                span Р426F2
                                p Произошел сбой на точке «Кинотеатр Нева»
                        a показать все
                    
                .menu__list
                    .menu__link.menu__link--active
                        | !{icons['map']}
                    .menu__link
                        | !{icons['road']}
                    .menu__link
                        | !{icons['analytics']}
            .main
                ul.main-menu
                    li Ошибка
                    li Сухая уборка
                    li Влажная уборка
                    li Снегоуборка
                    li Уборка листвы

            .info
                h2 Задания
                .info__item
                        

        